.Lds-Dual-Ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  color: black;
}
.Lds-Dual-Ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: Lds-Dual-Ring 1.2s linear infinite;
}
@keyframes Lds-Dual-Ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}