.Btn {
    width: 50%;
    height: 50px;
    align-items: center; /* align vertical */
    outline:none;
    background-color: darkgray;
}

.Btn:active {
    background: #007bff;
}

.Chevron {
    color: white;
}


.BtnLeft {
    float: right;
    color: white;
}


.BtnRight {
    float: left;
    color: white;
}