.Btn {
    width: 50%;
    height: 50px;
    align-items: center; /* align vertical */
    outline:none;
    background-color: darkgray;
}



.Btn:active {
    background: #007bff;
}

.Chevron {
    color: white;
}


.BtnLeft {
    float: right;
    color: white;
}


.BtnRight {
    float: left;
    color: white;
}

.ColOne{
    margin: auto;
    width: 50%;
}

.ColTwo {
    margin: auto;
    width: 50%;
}

@media (min-width: 500px) {
    .Btn {
        width: 100%;
    }
    .BtnLeft {
        float: center;
    }
    
    .BtnRight {
        float: center;
    }
 }
