.Btn {
    width: 50%;
    height: 50px;
    align-items: center; /* align vertical */
    outline:none;
    background-color: darkgray;
    
}


.PokemonName {
    text-align: center;
}



.Btn:active {
    background: #00ccff;
}

.Chevron {
    color: white;
    margin-top: 10px;
}


.BtnLeft {
    float: right;
    color: white;
    margin-top: 9px;
}


.BtnRight {
    float: left;
    color: white;
    margin-top: 9px;
}

.ColOne{
    margin: auto;
    width: 50%;
}

.ColTwo {
    margin: auto;
    width: 50%;
}


@media (min-width: 500px) {


    .Btn {
        width: 50%;
    }
    
    .BtnLeft {
        float: center;
        margin-top: 10px;
    }
    
    .BtnRight {
        float: center;
        margin-top: 10px;
    }

    .Chevron {
        margin-top: 10px;
    }

    .PokemonName {
        margin-bottom: 25px;
    }
    

 }
